---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import About from "@components/About.astro";
// import Projects from "@components/Projects.astro";
// import Skills from "@components/Skills.astro";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";
---

<Layout
  title="Hector Lozano | Software Developer"
  description="Professional portfolio of Hector Lozano, a software developer specializing in creating exceptional digital experiences with modern web technologies."
>
  <Header />
  <main>
    <Hero />
	<About />
	<Contact />
	<Footer />
  </main>
</Layout>
